* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Montserrat";

}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


.topline button {
    font-size: 12px;
    line-height: 30px;
    color: #ffffff;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    text-align: center;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 25px;
}

header {
    background: #fff;
}
header .logo {
    padding-right: 220px;
}

header .logreg {
    position: relative;
    width: 220px;
    padding-left: 10px;
}

.logreg .buttonBlue {
    position: absolute;
    left: -30px;
    top: 10px;
}

.logreg .buttonGreen {
    position: absolute;
    left: 85px;
    top: 10px;
}

header .englishVersion {
    display: inline-block;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

header .russianVersion {
    display: inline-block;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

header .lang {
    text-align: right;
}

header .social {
    font-size: 20px;
    color: #202b2f;
    text-align: right;
}

header a {
    text-decoration: none;
}

header .time{
    font-size: 33px;
    line-height: 17px;
    font-weight: 700;
    color: #3c9ef1;
    text-align: right;
    background: linear-gradient(to right, #009cff 0%, #1fe195 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .date {
    font-size: 13px;
    line-height: 14px;
    color: #202b2f;
    text-align: right;
}

header .year {
    font-size: 15px;
    line-height: 16px;
    font-weight: 700;
    color: #202b2f;

    text-align: right;
}

header .menu a {
    font-size: 15px;
    line-height: 60px;
    letter-spacing: 0.02em;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}

header .menu a.active {
    color: #1ee096;
}

header .menu {
    background-color: #202b2f;
}

header .menu li {
    display: inline-block;
    margin-right: 53px;
}

.menu ul {
    text-align: center;
}

header .table {
    display: table;
}

header .logo, header .logreg, header .lang,
header .social, header .time, header .data {
    display: table-cell;
    width: 10%;
    vertical-align: middle;
}

.exAdv {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner h1 {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 0.025em;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    text-align: right;
    padding-top: 100px;
}

.banner h2 {
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: right;
    padding-top: 20px;
}

.banner p {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-align: right;
    padding-top: 30px;
}

.banner button {
    font-size: 17px;
    line-height: 35px;
    letter-spacing: 0.050em;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    height: 60px;
    width: 300px;
    margin-left: 75%;
    box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.11);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009cff+0,1fe195+100 */
    background: #009cff; /* Old browsers */
    background: -moz-linear-gradient(left, #009cff 0%, #1fe195 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #009cff 0%, #1fe195 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #009cff 0%, #1fe195 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009cff', endColorstr='#1fe195', GradientType=1); /* IE6-9 */
    border: none;
    border-radius: 30px;
}

.exchange {
    height: 330px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 75%;
    box-shadow: 0px 0px 50px 15px rgba(0,0,0,0.15);
}

.exchange .item {
    position: relative;
    width: 220px;
    margin-left: 60px;
    padding-top: 30px;
}

.exchange .item span[class*="icon"] {
    position: absolute;
    top: 30px;
    left: -40px;
    width: 40px;
    height: auto;
    font-size: 40px;
    color: #2b383c;
}

.exchange .item span:nth-child(2) {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #202b2f;
}

.exchange .item span:nth-child(4) {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #202b2f;
}

.exchange .item span:nth-child(5) {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #19cf8b;
}

.banner {
    position: relative;
    height: 1050px;
}

.imageLaptop {
    position: absolute;
    top: 82%;
    left: 37%;
}

.adv {
    width: 390px;
    color: #ffffff;
}

.adv .item {
    padding-left: 50px;
    position: relative;
    padding-bottom: 25px;
}

.advantagesIcon span:first-child {
    font-size: 40px;
    color: #202b2f;
    position: absolute;
    left: 0px;
    top: 0px;
}

.advantagesIcon span:last-child {
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.025em;
    text-transform: uppercase;

}

.adv .text {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.025em;
    text-align: left;
}

.adv .text span {
    font-weight: 700;
}

.sertificate {
    width: 40%;
    float: left;
}

.aboutText {
    width: 60%;
    float: left;
    padding: 0 0 0 100px;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

.about {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #ffffff;
    padding-top: 50px;
}

.location {
    position: relative;
    padding-left: 70px;
    width: 270px;
}

.location span:first-child {
    font-size: 60px;
    color: #009dfe;
    position: absolute;
    left: 0px;
    top: 0px;
    background: linear-gradient(to right, #009cff 0%, #1fe195 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.location span:last-child {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.aboutText p {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.aboutText button {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0.050em;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    border: none;
    width: 260px;
    height: 60px;
    border-radius: 40px;
}

.buttonBlue {
    background: #03a3f4;
    width: 260px;
    height: 60px;
}

.buttonGreen {
    background: #44d29d;
    width: 260px;
    height: 60px;
}

.plans h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 83px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #202b2f;
    text-align: center;
}

.plans p {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #202b2f;
    text-align: center;
}

.plans {
    margin: 0 -15px;
    background: #fff;
}

.card1 {
    width: 50%;
    height: 510px;
    float: left;
    padding: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card1 .leftcard {
    width: 45%;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff;
    float: left;
    padding: 15px;
}

.card1 .leftcard span:first-child {
    font-size: 30px;

}

.card1 .leftcard span:nth-child(2) {
    font-size: 90px;
}

.card1 .leftcard span:nth-child(3) {
    font-size: 17px;
}

.card1 .leftcard button {
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    border: none;
    width: 205px;
    height: 45px;
    border-radius: 40px;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.5);
}

.card1 .rightcard {
    width: 55%;
    float: left;
    padding: 15px;
}

.card1 .rightcard span:nth-child(odd) {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    color: #202b2f;
}

.card1 .rightcard span:nth-child(even) {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #3c9ef1;
}

.dailyInterest span {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #3c9ef1;
}

.card2 {
    width: 50%;
    height: 510px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    padding: 15px;
}

.card2 .leftCard {
    width: 45%;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff;
    float: left;
    padding: 15px;
}

.card2 .leftCard span.titPlan {
    font-size: 30px;
}

.card2 .leftCard span:nth-child(2) {
    font-size: 90px;
}

.card2 .leftCard span:nth-child(3) {
    font-size: 17px;
}

.card2 .leftCard button {
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    border: none;
    width: 205px;
    height: 45px;
    border-radius: 40px;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.5);
}

.card2 .rightCard {
    width: 55%;
    float: left;
    padding: 15px;
}

.card2 .rightCard span:nth-child(odd) {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    color: #202b2f;
}

.card2 .rightCard span:nth-child(even) {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #20e097;
}

.totalProfit span {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #3c9ef1;
}

.plans {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.calculator {
    padding: 50px 0 60px 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009cff+0,1fe195+100 */
    background: #009cff; /* Old browsers */
    background: -moz-linear-gradient(left, #009cff 0%, #1fe195 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #009cff 0%, #1fe195 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #009cff 0%, #1fe195 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009cff', endColorstr='#1fe195', GradientType=1);
}

.calculator .item {
    vertical-align: middle;
    display: inline-block;
    margin-right: 70px;
    text-align: left;

}

.calculator .item label {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    display: block;

}

.calculator .item input {
    font-size: 15px;
    color: #000000;
    border: 1px solid white;
    background-color: #59c9ef;
    border-radius: 30px;
    padding: 10px;
    width: 220px;
    box-shadow: inset 3px 3px 10px 4px rgba(0,0,0,0.07);
}

.calculator .item label {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    display: block;
}

.calculator .item select {
    border: 1px solid white;
    background-color: #59c9ef;
    border-radius: 30px;
    padding: 10px;
    width: 230px;
}

.calculator .item option {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
}

.calculator .item span:first-child {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    display: block;
}

.calculator .item span:last-child {
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    color: #202b2f;
}

.calculatorButton {
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.050em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    border: none;
    width: 200px;
    height: 45px;
    border-radius: 40px;
    background: #202b2f;
}

.refferal {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.refferal h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #202b2f;
    text-align: center;
    padding: 100px 0 0 0;
}

.scheme .block1 {
    display: inline-block;
    padding-left: 10px;
    vertical-align: center;
    width: 390px;
    height: 390px;
}
.and span{
    display: inline-block;
    padding-left: 10px;
    vertical-align: center;
    font-size: 177px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;

}
.scheme .block2 {
    display: inline-block;
    padding-left: 10px;
    vertical-align: center;
    width: 390px;
    height: 390px;
}

.six {
    font-size: 121px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #03a3f4;
    display: block;
}
.rc {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.025em;
    color: #03a3f4;
    display: block;
}

.one {
    font-size: 121px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #44d29d;
    display: block;
}

.rec {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.025em;
    color: #44d29d;
    display: block;
}

.scheme img {
    display: block;
}
.text p {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #202b2f;
    text-align: center;
}

.refferal button {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.050em;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    height: 60px;
    width: 205px;
    box-shadow: 3px 3px 15px 4px rgba(0,0,0,0.11);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009cff+0,1fe195+100 */
    background: #009cff; /* Old browsers */
    background: -moz-linear-gradient(left, #009cff 0%, #1fe195 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #009cff 0%, #1fe195 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #009cff 0%, #1fe195 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009cff', endColorstr='#1fe195', GradientType=1); /* IE6-9 */
    border: none;
    border-radius: 30px;

}

.statistics {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009cff+0,1fe195+100 */
    background: #009cff; /* Old browsers */
    background: -moz-linear-gradient(left, #009cff 0%, #1fe195 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #009cff 0%, #1fe195 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #009cff 0%, #1fe195 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009cff', endColorstr='#1fe195', GradientType=1); /* IE6-9 */
}

.totalStatistics {
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.totalStatistics span[class*="icon"] {
    font-size: 40px;
    text-align: center;
    display: block;
    padding-top: 250px;
}

.totalStatistics span:nth-child(2) {
    font-size: 15px;
    color: #ffffff;
    display: block;
    text-align: center;
    padding-top: 40px;
}

.totalStatistics span:nth-child(3) {
    font-size: 30px;
    color: #202b2f;
    text-align: center;
    display: block;
}

.totalStatistics .item {
    width: 20%;
    float: left;
}

/*---------------Блоки с таблицами по выплатам--------------*/

.lastDeposit .item span:nth-child(1) {
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #202b2f;
}

.lastDeposit .item span:nth-child(2) {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #202b2f;
}

.lastDeposit .item span:nth-child(3) {
    color: #3c9ef1;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.025em;
}

.table {
    display: table;
    width: 570px;
    height: 360px;
}
.tableRow .item{
    display: table-row;
    background-color: #fff;
    padding: 30px;
}

.tableRow .item span {
    text-align: right;
    padding-right: 20px;
}

.lastDeposit .partTwo{
    background-color: #04a4f2;
}
.lastDeposit .partTwo span {
    font-size: 17px;
    font-weight: 700;
    line-height: 83px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.lastWithdrawals span:nth-child(1) {
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #202b2f;
}

.lastWithdrawals span:nth-child(2) {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #202b2f;
}

.lastWithdrawals span:nth-child(3) {
    color: #44d29d;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.025em;
}

.lastWithdrawals .partTwo span {
    font-size: 17px;
    font-weight: 700;
    line-height: 83px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff;
}

.lastDeposit {
    width: 50%;
    float: left;
}

.lastWithdrawals {
    width: 50%;
    float: left;
}

.qualities {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.qualities h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.qualities span[class*="icon"] {
    font-size: 55px;
    display: block;
    margin: 0px auto;
    background: linear-gradient(to right, #009cff 0%, #1fe195 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.qualities span:nth-child(2) {
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff;
}

.qualities p {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.025em;
    color: #d4dbde;
}

.qualities .item {
    width: 33.333%;
    float: left;
    text-align: center;
    padding: 0 30px;
    margin-bottom: 80px;
}

.news {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px 0 100px 0;
    background: #fff;
}

.news h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #202b2f;
    text-align: center;
    padding: 50px 0 50px 0;
}

.news span {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #03a3f4;
}

.news h3 {
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #202b2f;
}

.news p {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #202b2f;
}

.news button {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.050em;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background: linear-gradient(to right, #009cfe, #1fe096);
    border: none;
    width: 165px;
    height: 45px;
    border-radius: 25px;
    margin-top: 30px;
    box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.11);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009cff+0,1fe195+100 */
    background: #009cff; /* Old browsers */
    background: -moz-linear-gradient(left, #009cff 0%, #1fe195 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #009cff 0%, #1fe195 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #009cff 0%, #1fe195 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009cff', endColorstr='#1fe195', GradientType=1); /* IE6-9 */

}

.card .item {
    width: 30.333%;
    float: left;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.15);
    border-radius: 10%;
}

.currencyLogo {
    background-color: #c9d3db;
}

.currencyLogo .table {
    display: table;
    width: 100%;
}

.currencyLogo .cell {
    display: table-cell;
    vertical-align: middle;
    padding: 50px 0 50px 0;
}

footer .leftBlock span[class*="icon"] {
    font-size: 25px;
    color: #ffffff;
    line-height: 24px;
    display: block;
}

footer .leftBlock a {
    text-decoration: none;
}

footer {
    background-color: #202b2f;
}

footer .copyrightInformation {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.menuFooter ul {
    list-style-type: disc;
    color: #1fe096;
}

.menuFooter a {
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-decoration: none;
}

.menuFooter a.active {
    color: #1fe096;
}

.rightBlock span {
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #1fe096;
    text-transform: uppercase;
}

.rightBlock p {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.rightBlock a {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #06a9eb;
}

.leftBlock {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.menuFooter {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.rightBlock {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

/*2 страница*/

.aboutUs {
    background: #fff;
}
.banner2 {
    height: 390px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.banner2 h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    top: 80%;
    left: 60%;

}

.history {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #202b2f;
    padding-top: 130px;
}

.history .address span {
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}

.history button {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.history span {
    font-weight: 700;
}

.history .info2 a {
    color: #03a3f4;
}

.info1 p {
    width: 660px;
    float: left;
    padding: 20px;
}

.info1 .license {
    width: 470px;
    float: left;
}

.address .item {
    width: 100%;
    float: left;
    padding: 30px 30px;

}

.item .buttonBlue {
    width: 50%;
    float: left;
}

.item .buttonGreen {
    width: 50%;
    float: right;
}

.imgOffice {
    width: 40%;
    float: left;

}

.info2 div[class^="text"] {
    padding: 30px;
    text-align: left;
    margin: 0 auto;

}

.info2 .text1 {
    width: 60%;
    float: left;
}

.qualities2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

clear::after {
    content: '';
    display: block;
    clear: both;
}

.choosing2 .item {
    width: 33%;
    float: left;
    text-align: center;
    padding: 0 30px;
    margin-bottom: 80px;
}

.qualities2 h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #202b2f;
    text-align: center;
    padding: 100px 0 80px 0;
}

.qualities2 span[class*="icon"] {
    font-size: 55px;
    display: block;
    margin: 0px auto;
    padding-bottom: 30px;
}

.qualities2 span:nth-child(2) {
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #202b2f;
    padding-top: 30px;
}

.qualities2 p {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.025em;
    color: #202b2f;
    padding-top: 30px;
}




